name: 'Alive'
scopeName: 'source.alv'
type: 'tree-sitter'
parser: 'tree-sitter-alv'
fileTypes: [ 'alv' ]

scopes:
  comment: 'comment.block.alv'

  num: 'constant.numeric.alv'
  sym: 'meta.symbol.alv'

  str: 'string.quoted.alv'
  'str > escape_char': 'constant.character.escape.alv'

  'cell > tag': 'comment.tag.alv'
  'cell > head > sym': 'entity.name.function.alv'

folds: [ 'comment', 'cell' ]

comments:
  start: '#('
  end: ')'
