@import "ui-variables";

atom-text-editor.editor .highlight.alv {
  .region {
    border-radius: 4px;
    transition: background-color 150ms;
  }

  &.active {
    .region {
      background: @background-color-selected;
    }
  }
}

a.alv--tag {
  border-radius: 4px;
  color: transparent;
  transition: background 150ms, color 150ms;

  &.evt.active, &:hover {
    color: @text-color-subtle;
    background: @background-color-selected;
  }
}
